[2017-01-07 21:37] laszewsk opened #4 "Todo"
Top priority
-------------------

- [ ] All: Change lectures table: Topic, Description, REsources, Length, ID
  - [ ] All: including what is in the unreleased lectures
  - [ ] All: in unreleased lectures, correct 'slides' to 'video' where appropriate
- [ ] (Jerome) Record paper1 video
- [ ] (Dimitar) prepare Python tutorial for Monday (link to eve as an example of what can be done in Python)
- [x]

[2017-01-27 15:35] badi opened #66 "Provide instructions for installing Ubuntu 16.04 on Virtualbox on Windows 10"

[2017-01-27 15:37] badi opened #67 "Verify Techlist.1 on Ubuntu 16.04"

[2017-01-27 15:48] badi commented on #67
Issues:

- [ ] Needs a list of prerequisites
  - [ ] virtualbox installed
  - [ ] github account
- [ ] 2. the "Fork me on GitHub" link is broken
- [ ]

[2017-01-27 17:03] vibhatha commented on #66
I will do this. I will update the course website by tonight, including all the instructions with clear documentation.

[2017-01-27 20:56] badi opened #70 "Separate virtualbox and ubuntu on virtualbox installation"
There's a `docs/source/lesson/linux/ubuntu.rst` that documents how to install ubuntu on virtualbox.
The virtualbox-specific instructions should be separated into their own `virtualbox.rst`

[2017-01-27 20:59] badi opened #71 "Flesh out git and github lessons"
In addition to fleshing out the lessions, the content of `github.rst` has a lot of overlap with plain git and should be moved to `git.rst`.

[code]

[2017-01-27 21:01] badi opened #73 "Github lesson for monday"

[2017-01-27 21:01] badi opened #74 "Python lesson for Monday"

[2017-01-27 21:03] badi commented on #67
@miaozhan please add some information on the review, CI, merge process to your github lesson.

[2017-01-27 21:03] #67 closed

[2017-01-27 21:04] badi commented on #66
Also needs screenshots and/or video

[2017-01-27 21:06] badi opened #75 "Verify links work for released lectures"
check if all lectures and links to them as well as the slides on the “released” lectures are indeed working

[2017-01-27 21:06] badi opened #76 "Verify the new HID list on the webpage is correct"

[2017-01-27 21:08] badi opened #77 "Prepare linux lesson for monday"
@laszewsk @jemitchell @dimitargnikolov @tonythomascn @vibhatha @miaozhan Who is doing this?

[2017-01-27 21:09] badi opened #78 "Consolidate tips and questions in piazza"
@laszewsk @jemitchell @dimitargnikolov @tonythomascn @vibhatha @miaozhan Who is doing this?

[2017-01-27 21:11] badi opened #79 "Test of techlist 1 document"
@tonythomascn you should go though the documentation for techlist.1 as a student and find any bugs you can.

[2017-01-27 22:38] tonythomascn commented on #79
Done. Merged.

[2017-01-27 22:38] #79 closed

[2017-01-27 23:18] badi commented on #79
Great. Thanks!

[2017-01-28 03:14] #71 closed

[2017-01-28 03:14] badi commented on #73
@miaozhan did PR #86 also fix this?

[2017-01-28 03:19] miaozhan commented on #73
@badi My interpretation of this issue was: prepare Monday's lecture. Like using our git chapters as the outline and give a talk based on them.
This means after Monday's 9:30am, it is done anyway...
But please comment so I can have a clearer understanding.

[2017-01-28 03:22] badi commented on #73
That was my understanding as well.

I would ask that when you are done preparing the lecture that you indicate so on this issue and then close it. It will make it easier for @laszewsk and I to see the overall status of this milestone progress a la https://github.com/cloudmesh/classes/milestone/1

[2017-01-28 09:35] laszewsk commented on #74
added dict
added python as draft to released slides
added some links to python tutorial

[2017-01-28 09:36] laszewsk commented on #77
added linux to lectures
who is doing this on monday

[2017-01-28 09:46] dimitargnikolov commented on #77
It doesn't look like this was assigned at our last meeting, but I will take care of it together with the Python tutorial.

[2017-01-28 12:19] vibhatha commented on #70
I have split the documentation to two files.

[2017-01-28 12:21] vibhatha commented on #66
I have already created a video and it is on our channel. I am waiting for instructions on approval of video or to replace it with the videos made by Prof. Gregor, because I find them much better than mine, and they are already in the Youtube channel.

[2017-01-28 14:14] badi commented on #70
Does PR #88 resolve this?
If so, please close this issue.

[2017-01-28 14:15] #66 closed

[2017-01-28 14:15] #70 closed

[2017-01-28 19:36] badi opened #90 "Convert slides for unreleased theory lectures"
From here: https://cloudmesh.github.io/classes/i524/lectures-unreleased.html#lectures-unreleased-theory-track

- [ ] 7     Big Data Application Structure                                    Slides
- [ ] 7.A   NIST Big Data Sub Groups                                          Slides
- [ ] 7.B   Big Data Patterns - Sources of Parallelism                        Slides
- [ ] 7.C   First and Second Set o

[2017-01-28 20:12] miaozhan commented on #90
check mark 'video' items in unit 8 and 11. They are uploaded to Youtube.

Unit 7 is missing. The two 'slides' items of unit 8 and 11 are missing. Unit 12 is missing.

Unit 11.A at the bottom has a duplicated name, although the content is different.

[2017-01-29 04:13] badi opened #93 "citation for techlist 112 SAP HANA needs fixing"

[2017-01-29 04:14] badi opened #94 "citation for techlist 162 HPX-5 needs fixing"

[2017-01-29 10:02] laszewsk opened #96 "Stduent: Investigation of pull request 95"
We need to investigate pull request:
https://github.com/cloudmesh/classes/pull/95

[2017-01-29 16:02] naveenkumar2703 commented on #96
Pull request and commits were created, since I was trying to use git
hub desktop instead of command line interface. It created four remote
servers instead of two by default. That commit and pull request are not
required. I have already discarded the whole '.git' clone and created a new
one. I have also created a separate pull request. I'm looking for a way to
revert back that unwanted commit.

[2017-01-29 16:51] laszewsk commented on #96
This seems to have been resolved with latests pull request

[2017-01-29 16:51] #96 closed

[2017-01-29 17:27] badi commented on #74
@dimitargnikolov Related to PR #98 add a warning to the python intro about alternative python installations.

[2017-01-29 17:45] badi opened #99 "Republish website and update changelog"
@laszewsk I can republish by tomorrow if you want, but you are better positioned to also update the changelog.

[2017-01-30 02:09] miaozhan commented on #73
close it and pretend I know how to lecture.

[2017-01-30 02:09] #73 closed

[2017-01-30 17:25] badi commented on #99
I did the changelog

[2017-01-30 17:25] #99 closed

[2017-01-30 17:29] badi commented on #78
What is the status of this issue?

[2017-01-30 17:30] badi commented on #77
What is the status of this issue? Can this be closed?

[2017-01-30 17:30] badi commented on #76
What is the status of this issue?

[2017-01-30 17:30] badi commented on #75
What is the status of this issue?

[2017-01-30 17:30] badi commented on #74
What is the status of this issue? Can this be closed?

[2017-01-30 17:34] dimitargnikolov commented on #77
I need to record a video on this. I will do this today and close the issue.

On Mon, Jan 30, 2017 at 12:30 PM, badi <notifications@github.com> wrote:

[2017-01-30 17:42] dimitargnikolov commented on #76
I did this earlier. The list is correct. Closing.

[2017-01-30 17:42] #76 closed

[2017-01-30 17:43] dimitargnikolov commented on #74
Waiting on my pull request to be approved for this. I will probably do a few more edits today and will close before our meeting tomorrow.

[2017-01-30 17:53] badi commented on #74
Is that #109? I just did a review and suggested some edits.

[2017-01-30 17:53] vibhatha commented on #78
Still working on it. By the end of this week, I will try to consolidate as many as questions possible.

[2017-01-30 18:09] dimitargnikolov commented on #74
Yes, that's the pull request. Thanks for the feedback. I will implement the suggestions today and update here when done.

[2017-01-30 18:14] badi commented on #78
This is going to be a recurring task so please get done what you can today and create a PR referencing this issue. We'll take a look at the status in the meeting tomorrow.

[2017-01-30 18:14] badi opened #110 "Consolidate tips and questions in piazza"
Continuation of #78

[2017-01-30 18:14] vibhatha commented on #78
Sure, I will work on this.

With Regards,
Vibhatha Abeykoon

On Mon, Jan 30, 2017 at 1:14 PM, badi <notifications@github.com> wrote:

[2017-01-30 18:55] badi commented on #90
On Sat, Jan 28, 2017 at 3:12 PM, miaozhan <notifications@github.com> wrote:

Did you update the CSV file with the fixed links?

What do you mean by missing? Following the links on the page work for me.

It looks like 12 and 11.A ("More on Software Stack") are corresponding
slide and video
12: https://iu.box.com/s/vl0vo3oqkoo8jq7ccwew59lslcmbb9ot
11.A: https://mix.office.com/watch/hupb6i6669bh

—

[2017-01-30 19:58] miaozhan commented on #90
I updated links for the 'video' items in unit 8 and 11. They are now pointing at videos on Youtube.

Other links e.g. unit 7, unit 12 and those 'slides' items of all units are out of date. They are clickable, but will take you to old slides/video clips. Their new versions are 'missing' from your Box.

[2017-01-30 20:29] badi opened #111 "What is the NEW_MIX folder on IU Box?"
@jemitchell It looks like you created this. What's the difference between the "NEW_MIX" and previous "Mix" folders?

[2017-01-30 20:33] badi opened #112 "Add missing mix files to IU Box"
Corollary for #90. Some lectures are out of date and not available on IU Box.
The current links point to outdated versions.
They need to be downloaded and added to Box, then updated as per #90

[2017-01-30 20:33] badi commented on #90
On Mon, Jan 30, 2017 at 2:58 PM, miaozhan <notifications@github.com> wrote:

Great. Thanks. Which PR made these changes?

Can you add them please? See #112

--

Badi' Abdul-Wahid

[2017-01-30 20:38] laszewsk commented on #111
if it was me, i do not remember

[2017-01-30 20:39] miaozhan commented on #90
It's #38

I will convert and upload the rests tomorrow after our noon meeting.

[2017-01-30 20:43] badi commented on #90
Sounds good.

[2017-01-30 20:43] laszewsk commented on #112
SO have all those been updated and cleaned?

ID	Description	Resources	Length
7	Big Data Application Structure	Slides
7.A	NIST Big Data Sub Groups	Slides	0:23:25
7.B	Big Data Patterns - Sources of Parallelism	Slides	0:23:51
7.C	First and Second Set of Features	Slides	0:18:26
7.D	Machine Learning Aspect of Second Feature Set and the Third Set	Slides	0:18:38
8	Aspects of Big Data Applications	Slides

[2017-01-30 20:45] badi commented on #112
No. Miao is still working on it. See #90

[2017-01-30 20:53] badi commented on #111
It was @jemitchell based on the audit log for the directory

[2017-01-30 21:42] badi commented on #74
@dimitargnikolov I closed this during the merge of #113. Please reopen if there is still more to be done

[2017-01-30 21:52] dimitargnikolov commented on #74
Reopening since I want to add an example of using map and another using the multiprocessing API. Will add tonight.

[2017-01-31 15:58] badi opened #117 "Change lectures table: Topic, Description, Resources, Length, ID"
- [ ] including what is in the unreleased lectures
- [ ] in unreleased lectures, correct 'slides' to 'video' where appropriate

[2017-01-31 15:58] badi opened #118 "Record Paper 1 video"

[2017-01-31 15:59] badi opened #119 "Install Ubuntu on Virtual Box and Guest Addition"

[2017-01-31 16:00] badi opened #120 "Prepare tutorial on Github for Feb. 6"
I think this is duplicate of #71

[2017-01-31 16:01] badi opened #121 "Verify all links in theory lectures go to youtube or correct box"
Possible duplicate of #75

[2017-01-31 16:01] badi opened #122 "Publish lessons to students"

[2017-01-31 16:04] badi opened #123 "Fix slides in office mix"
Possibly related to #90, #111, #112

[2017-01-31 16:05] badi opened #124 "Class video for Monday (change and reapply theme: background & slide position)"
Originally for https://github.com/cloudmesh/classes/milestone/1

[2017-01-31 16:06] badi opened #125 "Cluster Command"
- [x] Test dev branch from the source
- [x] Documentation and example on cluster command for Mark and other students

- [x] Video by Vihbatha

[2017-01-31 16:07] badi opened #126 "Notify all students on CANVAS to join piazza"

[2017-01-31 16:07] badi opened #127 "Cloudmesh virtual cluster tests"
- [ ] hadoop
- [ ] spark

[2017-01-31 16:08] badi opened #128 "Post AIs emails and IDs on class website/piazza"

[2017-01-31 16:08] badi opened #129 "Post office hours on class website/piazza"

[2017-01-31 16:08] badi opened #130 "Cloudmesh lectures"

[2017-01-31 16:09] badi opened #131 "Crash course on python"

[2017-01-31 16:09] badi opened #132 "Crash course on bash"
- [ ] rst page for this on web page
- [ ] video

[2017-01-31 16:10] badi opened #133 "Compile bibtex for latex.rst"
- [ ] LaTeX Users and Reference Guide, by Leslie Lamport ;
- [ ] LaTeX an Introduction, by Helmut Kopka;
- [ ] The LaTeX Companion, by Frank Mittelbach
- [ ] Reference manual
- [ ] not so short introduction

[2017-01-31 16:11] badi opened #134 "cleanup cloudmesh cluster command"
Should work on

- [ ] Chameleon
- [ ] Kilo
- [ ] AWS
- [ ] Azure

[2017-01-31 16:14] badi opened #135 "Create scripts to merge spreadsheets"
Can be done by hand.

Something like (after manually downloading csv files of the canvas and google rosters):

[code]

returns a in the form:

[code]

We also need an `--update-enrollment` to automatically mark the enrollment status in the google spreadsheet.

[2017-01-31 16:17] badi commented on #4
I'm closing this as they've been filed as separate issues:

#117
#118
#119
#120
#121
#122
#123
#124
#125
#126
#127
#128
#129
#130
#131
#132
#133
#134
#135

[2017-01-31 16:17] #4 closed

[2017-01-31 16:23] badi opened #136 "Meeting 2017-01-31"
Topics

- [x] Github
- [x] Current status
- [x] Milestone 1 https://github.com/cloudmesh/classes/milestone/1
- [x] Milestone 2 https://github.com/cloudmesh/classes/milestone/2
- [x] Milestone TBD https://github.com/cloudmesh/classes/milestone/3
- [x] Lecture for monday
- [x] Youtube

[2017-01-31 17:22] dimitargnikolov opened #137 "Develop python assignment using cmd module (Monday Lecture)"
Formulate homework assignment that:

Python module of the week: cmd

Create a python program that has

[code]

[2017-01-31 17:25] dimitargnikolov opened #138 "python lesson for big data (monday lecture)"
matplotlib
pydal
numpy
scipy
mapreduce in python
...etc

[2017-01-31 17:30] dimitargnikolov opened #139 "verify all links on the lectures page"
Published and unpublished
- https://cloudmesh.github.io/classes/i524/lectures.html
- https://cloudmesh.github.io/classes/i524/lectures-unreleased.html#ref-unreleased

- [x] formatting
- [x] working

[2017-01-31 17:35] dimitargnikolov opened #140 "verify fingerprint python example"

[2017-01-31 17:41] badi opened #141 "ansible"

[2017-01-31 17:44] badi opened #142 "hadoop lecture"
cm virual cluster
stack deployed to cluster
run program that needs compilation and deployment

[2017-01-31 17:45] badi opened #143 "deploy mongodb server on single vm"

[2017-01-31 17:45] badi opened #144 "consensus algorithms (eg Zookeeper)"

[2017-01-31 17:56] dimitargnikolov opened #145 "Create LaTeX/BibTex FAQ for webpage"

[2017-01-31 17:56] vibhatha commented on #143
@badi
Do I have to use cloudmesh (cm>) to install MongoDb on virtual machines or to do it from scratch on a Linux machine. ?

[2017-01-31 18:00] #136 closed

[2017-01-31 18:28] badi commented on #143
1. use cloudmesh boot a machine on a cloud provider
2. use ansible to deploy and configure mongo

On Tue, Jan 31, 2017 at 12:56 PM, Vibhatha Lakmal Abeykoon <
notifications@github.com> wrote:

--

Badi' Abdul-Wahid

[2017-01-31 19:34] badi commented on #121
See also #139

[2017-01-31 19:59] miaozhan commented on #137
[code]

formalize the syntax a bit and unassign myself

[2017-01-31 20:03] badi opened #146 "Add yaml template to paper setup script"

[2017-01-31 20:03] miaozhan commented on #120
Do we expect any Git talk next Monday (Feb. 6th) again? Or it is considered done after Jan 30th class?

[2017-01-31 20:04] miaozhan commented on #90
I will generate and upload video in #112. So close this issue now...

[2017-01-31 20:04] #90 closed

[2017-01-31 20:06] miaozhan commented on #131
Hey, Dimitar,

Anything you expect me here?

[2017-01-31 21:31] laszewsk commented on #137
i will create dir in eve repo called

cloudmesh/mycmd

i probably rename soon eve to rest so look for eithe in cloumesh repos

[2017-01-31 21:47] laszewsk commented on #120
just so people can finish homework, you can introduced general concpt of git and branching also.

so this would be more than just hw

[2017-01-31 22:18] badi commented on #78
@vibhatha What is the status of this issue?

[2017-01-31 22:18] badi commented on #77
Can this be closed now?

[2017-01-31 22:19] badi commented on #75
@jemitchell  What is the status of this issue?

[2017-01-31 22:42] dimitargnikolov commented on #77
I will close it a little later tonight. I had to rerecord the videos with better sound. I am finishing the last video after which I'll put them all together and upload to YouTube.

[2017-01-31 22:49] vibhatha commented on #78
I have converted 5 posts up to now. I am going to do the rest equally every
day and not finished yet for today.
On Tue, Jan 31, 2017 at 5:18 PM badi <notifications@github.com> wrote:

--
Vibhatha Abeykoon

[2017-01-31 23:03] miaozhan commented on #112
added and pull request submitted

[2017-01-31 23:03] #112 closed

[2017-01-31 23:24] vibhatha commented on #78
@badi

For a response like this: https://piazza.com/class/ix39m27czn5uw?cid=129

What should I do ?

[2017-01-31 23:25] laszewsk commented on #78
i put answer into piazza with ?

[2017-01-31 23:32] vibhatha commented on #78
Yes, should I extract all important sections and create a new post, but It is a complex post. Should it be generalized ?

[2017-02-01 04:32] dimitargnikolov commented on #77
Video is done and available at https://www.youtube.com/watch?v=LeTlm_ck2GI.

I've updated the Systems Track page with the link.

[2017-02-01 04:32] #77 closed

[2017-02-01 05:49] dimitargnikolov commented on #74
Did some cleanup and minor edits, so it's ready to publish.

I will include the map/reduce example in the big data tutorial for next week per our meeting today.

[2017-02-01 05:49] #74 closed

[2017-02-01 05:51] dimitargnikolov commented on #131
@miaozhan no, I checked in a last set of changes to the Python tutorial, so we're all good.

[2017-02-01 05:51] #131 closed

[2017-02-01 13:56] dimitargnikolov commented on #78
Vibhatha, what do you mean by generalized?

I would just make that all relevant information to students is found in the new thread.

Most of this thread is covered in our discussions on how to use github with rebase, merging conflicts and so on.

We might even make this thread private since we have only one student participant and the most of the information is covered elsewhere.

[2017-02-01 15:43] jemitchell commented on #75
This is complete. The links for released and unreleased have been updated.

[2017-02-01 15:44] badi commented on #78
@vibhatha at this point I think you should just submit a PR with the current changes.
This issue is overdue and you can continue the work in #110

[2017-02-01 15:45] vibhatha commented on #78
Okay I will close this, today evening.
On Wed, Feb 1, 2017 at 10:44 AM badi <notifications@github.com> wrote:

--
Vibhatha Abeykoon

[2017-02-01 15:49] badi commented on #75
Which PR contains your changes?
[I don't see any](https://github.com/cloudmesh/classes/pulls?utf8=%E2%9C%93&q=is%3Apr%20author%3Ajemitchell%20) which could contain these fixes.

[2017-02-01 16:40] laszewsk opened #153 "PRIORITY: i523 Final project reviews"
Jerome:

Students demand project review details.

a) Address each project and person that requests them
b) provide private google docs so you can share wikt me and badi
c) we will make sure reviews are ok
d) we will send private note to individual students with the review
e) will will discuss this over e-mail and not via github. github issue is only here to make sure you do not forget taks. I like

[2017-02-01 17:38] badi opened #154 "fix indentation for cascading in techlist"

[2017-02-01 18:24] badi opened #155 "create a cloudmesh organization on docker hub"
@laszewsk current the docker build images are being published to my namespace on dockerhub: https://hub.docker.com/u/badi/

We need to coordinate to switch them to be under the cloudmesh organization instead.

[2017-02-01 18:25] badi opened #156 "add makefile rule for release"
Releasing currently involves several steps

1. verify the website and pdf with a `make all`
1. creating a new tag with `make tag`
1. update the changelog with `make log`
1. build a new docker image with `make dockerimage` and verify it with `make dockerrun`
1. publish the docker image on docker hub.

**TODO**

- [ ] issue #155

[2017-02-02 11:42] vibhatha commented on #78
Continuing the procedure to next week.

[2017-02-02 12:55] badi commented on #78
Which pull request has these changes?

--
Sent from my phone, sorry for the brevity.

On Feb 2, 2017 6:42 AM, "Vibhatha Lakmal Abeykoon" <notifications@github.com>
wrote:

[2017-02-02 12:58] vibhatha commented on #78
Hey Badi,

I edited the things on Piazza, I haven't added them to the course website
yet. I need to first finish up with couple of more posts and I need to add
it to FAQ page.

With Regards,
Vibhatha Abeykoon

On Thu, Feb 2, 2017 at 7:55 AM, badi <notifications@github.com> wrote:

[2017-02-02 13:06] laszewsk commented on #78
So this means we can not close the pull request as they are not integrated in the Web page?
Did we not say, we consolidate the FAQs than move them to the Web page than change the links in piazza to the web page and than it is done.
Once its done we close the issue

We use in the issue steps

- [ ] consolidate FAQ on piazza
- [ ] move content of consolidation into Web page
- [ ] remove the content

[2017-02-02 13:08] vibhatha commented on #78
Okay professor, I understand. I thought, cleaning piazza was the first task
and later add the content to web site. I will proceed with this course of
action. I can do that.

With Regards,
Vibhatha Abeykoon

On Thu, Feb 2, 2017 at 8:06 AM, Gregor von Laszewski <
notifications@github.com> wrote:

[2017-02-02 13:39] vibhatha commented on #78
I will commit the changes and keep you posted.

With Regards,
Vibhatha Abeykoon

On Thu, Feb 2, 2017 at 8:38 AM, badi <notifications@github.com> wrote:

[2017-02-02 14:52] #75 closed

[2017-02-02 15:10] jemitchell commented on #111
This directory was created to help @miaozhan  with discriminating against various videos.

[2017-02-02 16:22] badi commented on #111
Can it be renamed to something more descriptive of its function?
"NEW_MIX" is rather open ended.

[2017-02-02 20:14] #146 closed

[2017-02-02 20:45] jemitchell commented on #139
All videos released and unreleased have been verified.

[2017-02-02 20:45] #139 closed

[2017-02-02 20:47] jemitchell commented on #111
Yes, we could eliminate it. And reorganize the lectures in MIX

[2017-02-02 21:38] badi commented on #111
@jemitchell please coordinate with @miaozhan to do so and close this issue when done.

[2017-02-04 14:18] vibhatha commented on #78
@badi  @laszewsk
I added posts to piazza and closing this issue and continue working on 110.

[2017-02-04 14:18] #78 closed

[2017-02-04 14:20] vibhatha commented on #110
@badi @laszewsk
Closed #78
And start working on #110

[2017-02-04 14:55] vibhatha commented on #110
Added more posts and I will keep this updated.

[2017-02-05 13:15] laszewsk commented on #132
what is update?

[2017-02-05 13:16] laszewsk commented on #129
what is update

[2017-02-05 13:16] laszewsk commented on #123
what is update

[2017-02-05 13:17] laszewsk commented on #94
waht is update

[2017-02-05 13:18] laszewsk commented on #93
what is update

[2017-02-05 13:20] laszewsk commented on #117
I just close this as i think we do not need ids anymore.  If we do IDs than we should do topical ids

[2017-02-05 13:20] #117 closed

[2017-02-05 13:21] #122 closed

[2017-02-05 13:21] laszewsk commented on #122
i published

[2017-02-05 13:22] laszewsk commented on #120
please prepare to have talk ready

[2017-02-05 13:32] vibhatha commented on #145
I can discuss this with Dimitar and we can provide a good material.

[2017-02-05 13:34] laszewsk commented on #140
after this has been done, assign to jerome to verify

[2017-02-05 13:35] laszewsk commented on #135
what is status

[2017-02-05 13:36] laszewsk opened #170 "CAN NOT BE LATE: identify students that did and did not things: Feb 9"
THis task can not be late.

I need in spreadsheet identifier when students did things last  or if that is not possible, if they did something, update on spreadsheet of dropped students

[2017-02-05 13:37] laszewsk commented on #170
gregor must be notified on Feb 9th about this

[2017-02-05 13:39] laszewsk commented on #133
this seems duplicate to other task

[2017-02-05 13:40] laszewsk commented on #132
this was taken on by dimitar

[2017-02-05 13:41] vibhatha commented on #127
@badi Can you help me fix vm boot on Tuesday ?

[2017-02-05 13:42] vibhatha commented on #154
@badi
Do you mean in techlist-xx.rst, the indentation ?

[2017-02-05 13:42] laszewsk commented on #137
eve repo has been renamed to rest

[2017-02-05 13:43] laszewsk commented on #128
we do not want e-mail. we want all communication via piazza

I like to close this if there is no other need for this

[2017-02-05 13:45] laszewsk commented on #126
we have to identify if everyon on canvas that is still in class is in piazza

[2017-02-05 13:51] laszewsk commented on #121
I assign this to you to make a sanity check, please work with Jerome as he has fixed some slides and has a pull request putstanding that is however wrong as he did not rebase

[2017-02-05 13:53] laszewsk commented on #154
just look at techlist*.rst
and faq
fix all indentation errors in all files

[2017-02-05 13:54] vibhatha commented on #154
Yes I will do that.

With Regards,
Vibhatha Abeykoon

On Sun, Feb 5, 2017 at 8:53 AM, Gregor von Laszewski <
notifications@github.com> wrote:

[2017-02-05 13:56] vibhatha opened #171 "Emacs Learning"
Ways to master Emacs,

- [x] rst page  lesson/doc/emacs.rst
- [ ] video

  - [ ] moving
  - [ ] delete
  - [ ] search
  - [ ] replace
  - [ ] macro

[2017-02-05 14:11] vibhatha commented on #110
@badi @laszewsk
Added more posts. Fixed things on piazza and file is already formatted with better indentation. And content is pushed and a pull request has been already sent.

[2017-02-05 14:11] #110 closed

[2017-02-05 14:12] vibhatha opened #172 "Consolidate tips and questions in piazza"

[2017-02-05 14:19] dimitargnikolov commented on #129
I had sent a message on Piazza with the office hours when we updated the website. I will send one more now.

[2017-02-05 14:24] dimitargnikolov commented on #129
I sent another message on Piazza telling the students where they can find the office hours schedule and the Zoom link.

[2017-02-05 14:24] #129 closed

[2017-02-05 14:28] dimitargnikolov commented on #132
I made a video on this last week. It introduces a few useful commands while helping the students set up their environment on an Ubuntu VM: https://www.youtube.com/watch?v=LeTlm_ck2GI

It is also linked under the System lecture track.

The video points the students to these pages for reference information:
https://cloudmesh.github.io/classes/lesson/linux/linux.html (Linux Shell)
https://cloudmesh.g

[2017-02-05 14:29] laszewsk commented on #132
so is this integrated in the lectures?

[2017-02-05 14:29] dimitargnikolov commented on #138
Sorry for the delay on this. I will finish tonight and have ready for Monday lecture.

[2017-02-05 14:31] dimitargnikolov commented on #145
For this, I was thinking of building it around the paper template. That is, explain what is necessary for them to understand the template. I will work on a draft for this for Monday. @vibhatha, we can discuss before or after the Monday lecture.

[2017-02-05 14:32] vibhatha commented on #145
@dimitargnikolov
Can we talk before Tuesday meeting or after. I am full on Monday, I have 3 classes including the morning I524. Is it okay with you ?

[2017-02-05 14:33] dimitargnikolov commented on #133
This is related to #145. I will create the intro/tutorial for #145 and include the references Badi included as checkboxes here.

[2017-02-05 14:34] dimitargnikolov commented on #132
Yes, there is a link to the video here: https://cloudmesh.github.io/classes/i524/lectures.html#lectures-systems

[2017-02-05 14:34] vibhatha commented on #133
I can work with @dimitargnikolov for this task. I will follow his lead and contribute.

[2017-02-05 14:39] dimitargnikolov commented on #132
I didn't make any modifications to the two lessons, but they seem sufficient. If you think anything in addition to the video and the two RST pages is necessary, let me know.

[2017-02-05 14:52] laszewsk commented on #132
my question was different.

are thei in the csv lectures?

[2017-02-05 14:58] dimitargnikolov commented on #132
Yes, I had updated lectures-systems.csv when I created the video.

[2017-02-05 15:00] laszewsk commented on #171
rst page created by gregor
video to be shot by vibatha, focus on Macro, search replace

[2017-02-05 15:01] vibhatha commented on #171
I will shoot it and keep you posted.
On Sun, Feb 5, 2017 at 10:00 AM Gregor von Laszewski <
notifications@github.com> wrote:

--
Vibhatha Abeykoon

[2017-02-05 15:02] laszewsk commented on #132
i close as dimitar says he updated

[2017-02-05 15:02] #132 closed

[2017-02-06 12:49] jemitchell commented on #137
The purpose of this assignment is to familiarize you with the cmd module in python.  cmd module makes command line interfaces in your programs.

Create a python program, which has as its interpreter, mycmd, and develop the following commands:

mycmd deploy: print deploy
mycmd kill: print kill
mycmd benchmark: print benchmark
mycmd report:

usage syntax:

mycmd <arg>
  <arg> can be:
    deploy  --

[2017-02-06 12:51] dimitargnikolov commented on #138
Done in PR #179.

[2017-02-06 12:51] #138 closed

[2017-02-06 13:04] laszewsk commented on #137
I do not see wher you put this ...

- [ ] where is rst page that contains description about cmd
- [ ] eher eis homework, eg. should be something like Cmd.1 ....
- [ ] have you done video for online students

[2017-02-06 13:06] laszewsk commented on #137
here the evidence from newest web page:

cmd  search
Search Results
Your search did not match any documents. Please make sure that all words are spelled correctly and that you've selected enough categories.

[2017-02-06 18:02] tonythomascn commented on #93
Pull request accepted. Techlist 112 looks fine.

[2017-02-06 18:05] tonythomascn commented on #94
Techlist 162 looks fine. Pull request accepted.

[2017-02-06 18:35] badi opened #184 "Build is broken"
One of the recent PRs has caused the build to break.
@cloudmesh/i524-sp17-ais @laszewsk Please do not merge until the travis job is finished. In only takes a couple minutes.

I'll dig through and fix this.

[2017-02-06 18:36] laszewsk commented on #184
i thought i fixed it

[2017-02-06 18:40] badi commented on #184
You talking about dae86c35a7cd81638553b29d92369a6eaa0b0024?
It looks like that does it.

[2017-02-06 18:40] #184 closed

[2017-02-06 19:31] badi commented on #140
@jemitchell I've merged. Please review and attempt to replicate.

[2017-02-06 19:32] badi commented on #123
@jemitchell any update on the status of this?

[2017-02-06 19:33] badi commented on #111
@jemitchell @miaozhan any progress?

[2017-02-06 19:34] badi commented on #121
@dimitargnikolov @jemitchell Any progress?

[2017-02-06 19:35] badi commented on #124
@jemitchell whats the status of this?

[2017-02-06 19:37] badi commented on #133
@laszewsk are you referring to #145 as well?

[2017-02-06 20:09] badi commented on #120
@miaozhan @tonythomascn What is the status on this. Do you have a PR with these changes?

[2017-02-06 20:10] badi commented on #118
@dimitargnikolov can you start working on this please.

[2017-02-06 21:54] dimitargnikolov commented on #118
Yes, I will try to have it ready by our meeting tomorrow.

[2017-02-06 22:49] jemitchell commented on #137
I uploaded the cmd.rst file to github. Could someone take  a look before I
link to the page? It is in the lesson repository.

Thanks,
Jerome

On Mon, Feb 6, 2017 at 8:06 AM, Gregor von Laszewski <
notifications@github.com> wrote:

[2017-02-06 22:58] badi commented on #137
@jemitchell  Did you make a pull request?  I don't see any.

[2017-02-06 23:58] miaozhan commented on #111
I don't think that folder is needed.

[2017-02-07 00:01] miaozhan commented on #120
No new material added.

We followed our existing lessons and worked with students one-on-one to address their issues.

[2017-02-07 17:42] dimitargnikolov commented on #121
I looked at the links and they look fine. More detailed comment in a separate issue that I will link here when I find it.

[2017-02-07 17:42] #121 closed

[2017-02-07 17:43] tonythomascn opened #188 "Sample Paper 1"
Sample paper 1 on how to write paper 1 correctly.

[2017-02-07 17:46] dimitargnikolov commented on #120
Closing per @miaozhan's comment.

[2017-02-07 17:46] #120 closed

[2017-02-07 17:48] dimitargnikolov commented on #124
Closing since there is another issue related to this. I will update with link.

[2017-02-07 17:48] #124 closed

[2017-02-07 17:48] #170 closed

[2017-02-07 17:50] miaozhan commented on #111
folder removed.

[2017-02-07 17:50] #111 closed

[2017-02-07 17:51] badi opened #189 "Paper 2 postponed"
Paper 3 cancelled. Paper 2 due same time as Paper 3.

Update:
- Website
- Piazza
- Canvas

Post update on Piazza once everything is updated.

[2017-02-07 17:54] tonythomascn commented on #142
Ansible lecture and docker lecture first.

[2017-02-07 17:55] tonythomascn opened #190 "Docker lecture"

[2017-02-07 17:56] dimitargnikolov opened #191 "Prepare Docker lecture"
RST
Prepare presentation for Monday

[2017-02-07 17:56] #191 closed

[2017-02-07 17:59] #94 closed

[2017-02-07 17:59] #93 closed

[2017-02-07 18:03] dimitargnikolov opened #192 "Project Description"
Create RST

[2017-02-07 18:18] dimitargnikolov commented on #123
I did this before.

[2017-02-07 18:18] #123 closed

[2017-02-07 18:22] dimitargnikolov opened #193 "Create pygal solution and show in Monday lecture"

[2017-02-07 18:27] dimitargnikolov opened #194 "Monday lecture (2/13)"
- [x] Python (pygal, cmd) (Dimitar)
- [x] Paper 1 (Dimitar)
- [x] Project (Dimitar, Miao)
- [x] Ansible (Miao)
- [x] Cloudmesh boot vm (Vibhatha)
- [x] Cloudmesh cluster (Vibhatha)
- Issues:
    - [x] cm sec group (Vibhatha, Tony, Fugang)
    - [x] cm vm ssh, after cluster boot (Tony, Fugang)

[2017-02-07 23:40] miaozhan commented on #140
paste the link for myself: https://github.com/cloudmesh/classes/blob/master/docs/source/notebooks/fingerprint_matching.ipynb

[2017-02-08 00:50] laszewsk opened #196 "travis fails on all because pdf does not work"
as we also craete the pdf document it seems that this fails on travis. Thus this will not be successful

[2017-02-08 01:15] vibhatha commented on #188
Compiled the paper script and it's work well on Ubuntu 16.04. And I will update the document with Tony.

[2017-02-08 01:17] vibhatha commented on #154
@badi
How should I fix indentation ? I mean to have no conflicts, should just align one by one paragraph and commit each. I am using Emacs to do the task. Just suggest me, if there is a better way.

[2017-02-08 01:18] vibhatha commented on #145
Paper 1 compiles very well, for now everything is good and I will add some information regarding prior requirements and resources needed to get things done, if a student just refer this link without setting up initial stuff.

[2017-02-08 01:19] vibhatha commented on #133
Compiling paper 1 was successfully done. The content is so far good. I will add some help links to help a student who is doing things from the scratch.

[2017-02-08 01:23] laszewsk commented on #154
if you see indentation issue fix in behalf of student. I have done this yesterday for all that i saw were wrong. indentation can be seen in original raw file

ESC q in emacs does thsi nicely
first two lines must be on ndentation

[2017-02-08 01:37] vibhatha commented on #154
Yes professor, I am doing the same way.
But the fact is when doing that task, should I commit each time when I
indent a single paragraph. I got conflicts due to this reason, a few times.

With Regards,
Vibhatha Abeykoon

On Tue, Feb 7, 2017 at 8:23 PM, Gregor von Laszewski <
notifications@github.com> wrote:

[2017-02-08 01:51] badi commented on #154
My approach would be.

1. Made sure your master is up to date
1. Create a new branch called issues/154
1. Commit and push each change.
1. Create a pull request after the first push. Set the title to WIP DO NOT MERGE fix:dev: fix indentation in techlist  (fixes #154)
1. Once done, edit the title to remove the WIP DO NOT MERGE

This way you can preview the merge while you work on it and verify that

[2017-02-08 02:06] vibhatha commented on #154
@badi
I am not that much familiar with creating a new branch. Can I ask you this tomorrow, just for 5-10 minutes. So that I can execute this exactly as you say.

[2017-02-08 02:07] badi commented on #154
Sure stop by anytime after 10

--
Sent from my phone, sorry for the brevity.

On Feb 7, 2017 9:06 PM, "Vibhatha Lakmal Abeykoon" <notifications@github.com>
wrote:

[2017-02-08 02:17] vibhatha commented on #154
Great.

With Regards,
Vibhatha Abeykoon

On Tue, Feb 7, 2017 at 9:07 PM, badi <notifications@github.com> wrote:

[2017-02-08 10:12] laszewsk commented on #145
can you put link in here so we can review

[2017-02-08 15:55] badi commented on #196
This is indication of a deeper problem.
I'll update the travis rules only build the website and not the i524-notes.pdf

[2017-02-08 17:07] badi commented on #196
This is a bug in sphinx or sphinxcontrib-bibtex.

I've traced it to `app.env.bibtex_cache.get_label_from_key` [here](https://github.com/mcmtroffaes/sphinxcontrib-bibtex/blob/ae796eb7f4122451e2afab2d131a09fe9b2e6dd8/sphinxcontrib/bibtex/__init__.py#L58)

Example of tracing through:

- reference key in `refs.bib`: `www-cloud-google`
- cached key generated by sphinx: `wwwa`

It look like they truncat

[2017-02-08 17:44] laszewsk commented on #196
error is now clearly visible in sphinx, for example in the jclouds entry

d to different cloud providers. The APIs also bring interoperability such that cloud platforms can communicate and exchange information using these common or shared interfaces. Jclouds or apache jclouds [www{] is a java based library to provide seamless access to cloud platforms. Jclouds library provides interfaces for most

[2017-02-08 17:44] miaozhan commented on #141
need a draft about an advanced ansible use case (to install R maybe?)

[2017-02-08 17:46] laszewsk commented on #196
I filed:

https://github.com/mcmtroffaes/sphinxcontrib-bibtex/issues/110

please commet and improve bug report. If there is more than one person commenting on it experience shows they may fix it faster.

[2017-02-08 17:47] badi commented on #196
I saw. I'm working on narrowing the error down.

[2017-02-08 18:08] tonythomascn commented on #188
Hi, Vibhatha.
Could you please add me as a collaborator for this repo?
Thank you.

Tony

[2017-02-08 18:09] vibhatha commented on #188
Yes Tony, sorry for the delay.

With Regards,
Vibhatha Abeykoon

On Wed, Feb 8, 2017 at 1:08 PM, tonythomascn <notifications@github.com>
wrote:

[2017-02-08 18:11] vibhatha commented on #188
I already added you

https://github.com/vibhatha/sp17-i524/invitations

With Regards,
Vibhatha Abeykoon

On Wed, Feb 8, 2017 at 1:09 PM, Vibhatha Abeykoon <vibhatha@gmail.com>
wrote:

[2017-02-08 18:25] tonythomascn commented on #194
I've find a way to make cm vm ssh work on my machine. Cheers!

[2017-02-08 18:32] laszewsk commented on #194
please document and test on new virtualenv to verify this works. Also document waht needs to change on ~/.cloudmesh/cloudmesh.yaml.

[2017-02-08 18:41] tonythomascn commented on #194
It could be a bug. I am not sure about it yet. I will confirm with Fugang.

The situation I met is like this. When I try to execute:

	$ cm vm ssh xl41-0

it automatically match the first public key name rather than the actual key file within the key list. Of course you can’t find the a file with that key name anywhere, because it never exists.

To avoid this, I have to execute:

	$ cm vm ssh xl41

[2017-02-08 18:42] fugangwang commented on #194
I updated the published cloudmesh client documentation to reflect the current 'cm secgroup' usage and functionality. Please try and let me know if you see problems.

[2017-02-08 18:45] badi commented on #196
actually looks like it is in pybtex, not sphinxcontrib-bibtex

[2017-02-08 18:46] badi commented on #196
if we can switch the pybtex label style to `number` it should resolve this issue.

[2017-02-08 18:52] fugangwang commented on #194
For 'vm ssh', I believe you have to set a default key to use (to verify, use 'cm info'). Otherwise it may grab the first key from the keys list to try. You can always specify a key with '--key' parameter as Tony does.

[2017-02-08 19:31] #196 closed

[2017-02-08 20:17] jemitchell commented on #153
What would be a good strategy for this item? Since most students are just requesting their project grade, should I just notify them and if they require specifies, we can regrade?

[2017-02-08 20:21] #153 closed

[2017-02-09 12:59] vibhatha commented on #145
Yes, I am adding the content and I will send the link ASAP.  (Within next few hours)

[2017-02-09 13:11] laszewsk opened #215 "fix references in technologies.rst"
/Users/grey/github/cloudmesh/classes/docs/source/i523/technologies.rst:32: WARNING: citation not found: las14cloudmeshmultiple
/Users/grey/github/cloudmesh/classes/docs/source/i524/technologies.rst:437: WARNING: citation not found: www-apscale-deployment
/Users/grey/github/cloudmesh/classes/docs/source/i524/technologies.rst:1613: WARNING: citation not found: apche-flume. Flume was created to allow

[2017-02-09 13:19] vibhatha commented on #145
https://cloudmesh.github.io/classes/i524/paper1-hw.html#paper-1-homework
This works pretty well in Ubuntu 16.04 and I have compiled and made pdf.

[2017-02-09 13:35] vibhatha commented on #145
Added the links to the FAQ.  And PR sent.

[2017-02-09 13:45] laszewsk opened #216 "attendence verification: HARD DEADLINE Feb 13"
- [x] dimitar gives attendence sheet to jerome
- [x] jerome adds attendence info to spreadsheet
- [ ] deadline Feb 13

- [ ] get Gregor a list of people who haven't submitted a pull request
- [ ] Gregor needs to upload this to the university

This is a reminder that Attendance verification is due on February 13th this term

We need to have it before Wed 10am whne we have the meeting with the CANVA

[2017-02-09 15:03] dimitargnikolov commented on #216
I will just enter the attendance into the spreadsheet today, since I need to be in Info East and don't know if I can come to Smith.

[2017-02-10 05:14] badi commented on #128
I'll close this then

[2017-02-10 05:14] #128 closed

[2017-02-12 16:57] vibhatha commented on #194
Cloudmesh Client installation task was completed.
Video was uploaded to Youtube channel.

https://youtu.be/R50IQYhr-vg?t=3

[2017-02-12 16:58] vibhatha commented on #119
This task was completed and video is already there on Youtube channel.

[2017-02-12 16:58] #119 closed

[2017-02-13 21:42] dimitargnikolov commented on #216
I've updated the attendance in the spreadsheet, contacted the problematic students and cc-ed Gregor.

[2017-02-13 21:47] dimitargnikolov opened #307 "Monday Lecture (2/20)"
- [x] Ansible (Miao)
- [x] Project (Miao, Dimitar)

[2017-02-13 21:51] miaozhan commented on #192
under lessens,
old project requirements also kept

[2017-02-13 21:51] #192 closed

[2017-02-13 21:51] dimitargnikolov commented on #193
Assigned to students instead, together with the cmd exercise.

[2017-02-13 21:51] #193 closed

[2017-02-13 21:51] dimitargnikolov commented on #118
This was done a few days ago. I've created the video and linked it on the paper1 page.

[2017-02-13 21:51] #118 closed

[2017-02-13 21:52] miaozhan commented on #141
I and II are merged.
only I is visible from the index at this point.

[2017-02-13 21:52] #141 closed

[2017-02-13 21:52] dimitargnikolov commented on #137
Added the homework and showed to students on Mon 2/13.

[2017-02-13 21:52] #137 closed

[2017-02-13 21:53] dimitargnikolov commented on #145
This was done by Vibhatha. @vibhatha feel free to close if something looks complete, we can always reopen.

[2017-02-13 21:53] #145 closed

[2017-02-13 21:54] dimitargnikolov commented on #189
I will send announcment once I've looked at the sample paper Tony and Vibhatha wrote. That way we can have a single announcement about paper 1 video, sample paper, and paper 3 cancellation. Will do tonight.

[2017-02-13 21:55] dimitargnikolov commented on #215
Will take care of after student code freeze starting 2/14 @ 9am.

[2017-02-13 21:56] dimitargnikolov commented on #135
This was done manually by Jerome and me in response to issue #216. Closing and will create an issue for next week, since we need to keep updating the spreadsheet.

[2017-02-13 21:56] #135 closed

[2017-02-13 21:57] dimitargnikolov opened #308 "Sync spreadsheets"
Make sure Google spreadsheet is up to date with what is on Canvas (dropped students, responses to the survey, etc.)

[2017-02-13 21:58] dimitargnikolov commented on #133
@vibhatha, is there anything left to do on this?

[2017-02-13 22:01] dimitargnikolov commented on #125
@tonythomascn, can we discuss in person tomorrow before group meeting? I don't know where we are on this.

[2017-02-13 22:05] tonythomascn commented on #125
Vihbatha and I are already working on this. The cloud mesh video has shown the cm vm command. Also, Gregor agree not to make this too complicated by introducing too many commands.

What do you want know about?

[2017-02-14 15:07] dimitargnikolov commented on #126
@jemitchell, while working on #216 did you find any students who weren't on Piazza yet?

[2017-02-14 15:50] vibhatha commented on #127
I have completed this task. A video is already created and the linux/lessons sections contains the tutorial. There are some minor updates that has to be done to the document.

[2017-02-14 15:50] #127 closed

[2017-02-14 15:51] vibhatha commented on #188
@tonythomascn

Did you check the latest version of the paper ?

[2017-02-14 15:54] dimitargnikolov commented on #189
Announcement sent. We can add the sample paper later, since I think it needs some edits.

[2017-02-14 15:54] #189 closed

[2017-02-14 16:44] tonythomascn commented on #188
I did. On Sunday night, I also did a minor change to it. However, since Gregor said we need to complete this paper as a real one. I think we need to extend it. Can you write why nagios is important and the next chapter, please? For the advantage or disadvantage chapter, I am not sure it’s ok or not. If you have a better angle to replace it, please do it. I will take a look at the rest and make the

[2017-02-14 17:38] dimitargnikolov opened #322 "Cloudmesh Hadoop & Spark"
- [x] Add section to Cloudmesh RST
- [x] Cluster Command tested (cluster2); status = success - Vibhatha
- [x] Hadoop command tested (cluster2); status = failure - Vibhatha
- [x] Spark & Pig addon with hadoop
- [x] video by Vibhatha (postponed)
- [x] Release it on class website (postponed)
- [x] Make an announcement on Piazza (postponed)

[2017-02-14 17:47] dimitargnikolov commented on #143
Get @mmccombe involved, since this might be relevant to his project.
@miaozhan will work with him.
Task: install mongodb server on all machines specified in inventory. No password requirement. Bind to localhost.

[2017-02-14 17:52] dimitargnikolov opened #323 "Monday Lecture"
- [x] Ansible: Miao will demo.
- [ ] Project: Gregor will make a video.
- [ ] Paper: Sample paper should be ready
     - [x] Content added
     - [ ] Proof read
- [x] cm cluster command: Need to have RST.
- [x] cm Hadoop/Spark command RST
- [ ] cm cluster command/example video - postponed
- [ ] cm hadoop/spark command/example video - postponed

[2017-02-14 18:07] dimitargnikolov opened #324 "Review TechList 1"
- [ ] (Dimitar) All entries in refs.bib need to be distributed to AIs for checking.
  - [ ] Add comments 'Review status: ' to each entry.
- [ ] The entries in technologies.rst also need to be graded.

[2017-02-14 20:28] jemitchell commented on #216
The google spreadsheet has been updated with github and piazza usernames.

Thanks,
Jerome

On Thu, Feb 9, 2017 at 8:45 AM, Gregor von Laszewski <
notifications@github.com> wrote:

[2017-02-14 21:33] badi commented on #216
@jemitchell could you check off the items that are done.

[2017-02-14 21:35] jemitchell commented on #216
I have updated!

[2017-02-19 05:24] vibhatha commented on #188
Finalized the paper, now it is up to proof read and grammar check.

@tonythomascn @laszewsk

[2017-02-19 13:54] laszewsk opened #345 "missing image"
lesson/database/images/mongodb-overview.png

[2017-02-19 14:29] laszewsk commented on #345
/Users/grey/github/cloudmesh/classes/docs/source/lesson/database/mongodb_cluster.rst:43: WARNING: toctree contains reference to nonexisting document u'lesson/database/virtual_cluster'
/Users/grey/github/cloudmesh/classes/docs/source/lesson/database/mongodb_cluster.rst:263: WARNING: toctree contains reference to nonexisting document u'lesson/database/additional_examples'
/Users/grey/github/cloudmes

[2017-02-19 17:50] tonythomascn commented on #345
@badi I searched both my local and classes repo, but couldn't find it. Can we find it in another repo in Gitlab somewhere?

[2017-02-20 04:16] vibhatha commented on #172
Added few notes and I will reopen the task to continue it in the next week.
PR is already made.

[2017-02-20 04:16] #172 closed

[2017-02-20 04:21] vibhatha commented on #154
Indentations fixed.

[2017-02-20 04:21] #154 closed

[2017-02-20 04:36] vibhatha commented on #130
added the record to technology-tech.rst

[2017-02-20 04:36] #130 closed

[2017-02-21 16:27] miaozhan commented on #143
Maybe we can do it with the galaxy work?

[2017-02-21 17:37] miaozhan opened #364 "Ansible task needs be done by Tue"
- [x] clean up the class page Ansible content, so all sessions are in a separated file gathered in a folder
- [x] shoot a replication video about the two sessions taught on Monday.

[2017-02-21 17:43] miaozhan opened #365 "Ansible task needs be done by Monday 27th"
- [ ] compose an Ansible lesson about ansible-galaxy
  - [ ] create the folder structure from Ansible scripts but emphases not to submit it to official Ansible
  - [ ] use ansible-galaxy to accomplish a typical and simple task

- [ ] shoot a video about this task

[2017-02-21 17:55] miaozhan commented on #143
@badi we proposed Emac, R or Ansible (interesting contiguous infection). I wonder if mongodb is something we want to do anyway?

Do you think we should use mongodb as the ansible-galaxy example, or choose other simpler ones and drop this mongodb task?

[2017-02-21 19:23] laszewsk commented on #143
mongodb is good, but not the sytems in tegrated mongo only the user managed mongo ???

[2017-02-21 20:59] miaozhan commented on #143
close this issue and continue on the galaxy issue

[2017-02-21 20:59] #143 closed

[2017-02-21 21:08] miaozhan commented on #365
@laszewsk
Hi, Gregor, could you help me confirm the 2nd and 3rd check marks?
which package do we want to 'apt' in this example? Is MongoDB ok? any special configurations we want to apply to the MongoDB package?
when students follow this example and work on their own galaxy projects, what deliverables do we expect for validation purposes? Thanks!

[2017-02-21 21:19] laszewsk commented on #365
whatever you pick will be fine

[2017-02-22 19:30] dimitargnikolov commented on #323
Closing this and will add a separate entry for next week based on what we discussed on Tue, Feb 21.

[2017-02-22 19:30] #323 closed

[2017-02-22 19:31] dimitargnikolov commented on #216
This was completed last week.

[2017-02-22 19:31] #216 closed

[2017-02-22 19:31] dimitargnikolov commented on #194
Closing this and will add a separate entry for next week based on what we discussed on Tue, Feb 21.

[2017-02-22 19:31] #194 closed

[2017-02-22 19:32] dimitargnikolov commented on #126
Students without a Piazza ID were contacted last week.

[2017-02-22 19:32] #126 closed

[2017-02-22 19:34] dimitargnikolov commented on #308
This was done manually for last week.

I will write a script to merge survey  responses to get the cloud accounts into the spreadsheet.

[2017-02-25 20:37] laszewsk commented on #171
i do not think we need a video on emacs we have much higher priorities, i close this

[2017-02-25 20:37] #171 closed

[2017-02-27 20:03] miaozhan commented on #365
remove one check box and split it to a new issue

[2017-02-27 20:03] miaozhan opened #452 "Ansible sample project"

[2017-02-28 15:21] vibhatha opened #470 "Consolidate Piazza"
Consolidating piazza with FAQs

[2017-03-16 04:31] laszewsk opened #506 "image needs spinx-prompt"
Extension error:
Could not import extension sphinx-prompt (exception: No module named sphinx-prompt)
Makefile:54: recipe for target 'html' failed
make[1]: *** [html] Error 1
make[1]: Leaving directory '/data/docs'
Makefile:19: recipe for target 'doc' failed
make: *** [doc] Error 2
The command "docker run -e HOST_UID=$(id -u) -e HOST_GID=$(id -g) -v $PWD:/data -it --rm badi/cloudmesh_classes make a

[2017-04-03 17:24] #322 closed

[2017-04-03 17:25] #125 closed

[2017-08-25 05:02] laszewsk opened #573 "spinx ref management"
- Idea: lets do my hack suggestion instead of rewriting sphinxbibtex as what i suggest will work, and is quickly implemented in an hour or so.
This works as we define that refs are ALL managed in refs.bib
 I tested principal in course/introduction.rst an i-resf.bib vs refs.bib What we do is automatically copy refs.bib to bib/i-refs.bib and augment rst file with a placeholder that we replace with b

[2017-09-03 20:15] laszewsk commented on #573
completed

[2017-09-03 20:15] #573 closed

[2017-09-03 20:16] laszewsk opened #584 "orphan pages"
put :orphan: in one of the following pages. See if the error disapiears and if it does do for all pages

/Users/grey/github/cloudmesh/classes/docs/source/docker.rst: WARNING: document isn't included in any toctree
/Users/grey/github/cloudmesh/classes/docs/source/i523/2016/notebooks/lesson-a.rst: WARNING: document isn't included in any toctree
/Users/grey/github/cloudmesh/classes/docs/source/i523/2

[2017-09-03 20:57] laszewsk commented on #324
closing as class completed

[2017-09-03 20:57] #324 closed

[2017-09-03 21:00] laszewsk commented on #133
close as no longer relevant

[2017-09-03 21:00] #133 closed

[2017-09-03 21:00] laszewsk commented on #156
close as updated

[2017-09-03 21:00] #156 closed

[2017-09-03 21:01] laszewsk commented on #308
no longer relevamnt

[2017-09-03 21:01] #308 closed

[2017-09-03 21:01] laszewsk commented on #188
no longer relevant

[2017-09-03 21:01] #188 closed

[2017-09-04 18:03] laszewsk opened #587 "pages not found"
/Users/grey/github/cloudmesh/classes/docs/source/notes.rst:9: WARNING: toctree contains reference to nonexisting document 'i524/preface/about'
/Users/grey/github/cloudmesh/classes/docs/source/notes.rst:9: WARNING: toctree contains reference to nonexisting document 'i524/preface/disclaimer'
/Users/grey/github/cloudmesh/classes/docs/source/notes.rst:9: WARNING: toctree contains reference to nonexist

[2017-09-04 18:15] #307 closed

[2017-09-04 18:16] laszewsk opened #588 "fix toctree"
/Users/grey/github/cloudmesh/classes/docs/source/notes.rst:9: WARNING: toctree contains reference to nonexisting document 'i524/preface/about'
/Users/grey/github/cloudmesh/classes/docs/source/notes.rst:9: WARNING: toctree contains reference to nonexisting document 'i524/preface/disclaimer'
/Users/grey/github/cloudmesh/classes/docs/source/notes.rst:9: WARNING: toctree contains reference to nonexist

[2017-09-04 18:18] laszewsk opened #589 "fix citations"
/Users/grey/github/cloudmesh/classes/docs/source/i524/2017/technologies.rst:1260: WARNING: citation not found: www-bi.vt.edu
/Users/grey/github/cloudmesh/classes/docs/source/i524/2017/technologies.rst:1260: WARNING: citation not found: www-portal.futuresystems.org/projects/233
/Users/grey/github/cloudmesh/classes/docs/source/i524/2017/technologies.rst:1448: WARNING: citation not found: www-three.j

[2017-09-04 18:19] laszewsk opened #590 "fix circular toc tree"
/Users/grey/github/cloudmesh/classes/docs/source/i524/2017/index.rst: WARNING: circular toctree references detected, ignoring: i524/2017/index <- i524/2017/index
/Users/grey/github/cloudmesh/classes/docs/source/i524/2017/index.rst: WARNING: circular toctree references detected, ignoring: i524/2017/index <- i524/2017/index
/Users/grey/github/cloudmesh/classes/docs/source/i524/2017/index.rst: WARNIN

[2017-09-04 18:19] #364 closed

[2017-09-04 18:21] laszewsk commented on #345
verifi if still an issue, and solve if it is

[2017-09-04 18:29] laszewsk opened #591 "fix toc"
/Users/grey/github/cloudmesh/classes/docs/source/i523/2016/assignments/assignments.rst:35: WARNING: unknown document: ../../lesson/prg/gitlab
/Users/grey/github/cloudmesh/classes/docs/source/i523/2016/assignments/assignments.rst:233: WARNING: unknown document: n-resources
/Users/grey/github/cloudmesh/classes/docs/source/i523/2016/assignments/assignments.rst:387: WARNING: unknown document: python_b

[2017-09-04 18:31] laszewsk opened #592 "copy cloud class content to google.iu.edu"
Please copy all content form the Class to google.iu.edu

[2017-09-04 18:33] laszewsk opened #593 "create new directory and toc for cloud class in sphinx"
i???/2018 what number do we have ? please find out and update

[2017-09-04 18:44] laszewsk opened #594 "Weekly Assignment update"
Please update the file
docs/build/html/i523/2017/assignments.rst on a weekly basis
Its now outdated so it needs to be updated Oct 4, make sure to update when new assignment is out

* [ ] Week 1, Aug 25
* [ ] Week 2 Oct 4
* [ ] Week 3
* [ ] Week 4
* [ ] Week 5
* [ ] Week 6
* [ ] Week 7
* [ ] Week 8
* [ ] Week 9
* [ ] Week 10
* [ ] Week 11
* [ ] Week 12
* [ ] Week 13
* [ ] Week 14
* [ ] Week 15
* [

[2017-09-04 18:48] laszewsk opened #595 "fix student pull request"
https://github.com/cloudmesh/classes/pull/576

The student pull request is too complex and indictaes errors would be introducced do for the files in question for each file its own pull request, do spell checking emacs has flyspell

* [ ] file 1
* [ ] file 2
...

[2017-09-04 18:52] laszewsk opened #596 "Biovia Pipeline Pilot"
A student pointed that out the following, not sure where to integrate this?

+Application List and Description
 +================
 +
 +1. Biovia Pipeline Pilot is a workflow application that allowes the creation of custom reports,
 +can act as the 'middleman' between multiple databases, can be used to create user interfaces, perform
 +analytics with direct connection to R and SAS tools, and a ton

[2017-09-04 20:58] laszewsk opened #597 "add excel table to sphinx requirements"
WARNING: /Users/grey/github/cloudmesh/classes/docs/source/lesson/tech/hpc.rst:201: (ERROR/3) Unknown directive type "exceltable".

[2017-09-04 20:59] #589 closed

[2017-09-04 21:09] #597 closed

[2017-09-04 21:13] #584 closed

[2017-09-07 16:55] ssheybani commented on #596
Is this issue supposed to be closed (as Gregor mentioned in #570)?

[2017-09-07 17:19] ssheybani commented on #596
Apparently the student has already created a file for it in the main directory. We can just move the file into a new directory named "technologies" similar to what we had in i524. Should I do that?

[2017-09-07 17:49] ssheybani commented on #594
Do I need to add the polls and "Accept the github invitation" assignment (on Piazza assignments) to the class web page?

[2017-09-07 17:53] laszewsk commented on #594
yes

[2017-09-07 17:55] laszewsk commented on #596
you are responsible. I do not even know where to place it I do not think that any directory we have fits this. This is almost like a technology for i524, but I am not sure. So if you can give a suggestion what to do with it that would be great.

[2017-09-07 18:01] ssheybani commented on #596
I suggest that we create a new directory named "student contributions" in "cloudmesh/classes/tree/master/docs/source/i523/2017" and put this file over there, and name it "technologies".

[2017-09-07 18:07] laszewsk commented on #596
remember we cant have spaces

can you provide exact path

[2017-09-07 18:12] ssheybani commented on #596
Alright. The path would be https://github.com/cloudmesh/classes/tree/master/docs/source/i523/2017/student-contribution
And the file would be technologies.rst
Should I go ahead and create that?

[2017-09-07 18:17] laszewsk commented on #596
lets do

[2017-09-07 20:16] laszewsk opened #607 "PDF version of slides"
Publish all ppt also as PDF and integrate in slides after all videos have been published or you have nothing to do. PLease work with Grace. She will ccordinate and assign you setions you will do. If you had sections before. I suggest you creat the pdf upload them to google and add them to your section

[2017-09-07 23:32] laszewsk opened #609 "Add time in minutes to all Videos"
Please add behind every Video: the time in hours abd minutes example

* Video: 1h 20 min: https:// ......

[2017-09-07 23:32] laszewsk commented on #609
coordinate with others if you need help.

[2017-09-08 09:03] laszewsk opened #612 "add ta as admin to projects"
all 100 already don, work on 200 300
https://github.com/bigdata-i523/hid201/settings/collaboration

Add the ta as admin to eack project

use web browser and change number, its probably the fastest do not bother doing script

[2017-09-08 20:49] ssheybani commented on #612
I added people for hid330 and hid327. All the other sub-directories were already managed as far as I understood.

[2017-09-08 21:14] ssheybani commented on #612
I noticed that some numbers don't have any hid assigned to them. so I looked at the hid table and deduced that they are probably for the students that have dropped the course. Except for 341, 342. So all the others are covered now.

[2017-09-21 13:55] laszewsk opened #618 "copy lost data from box to google drive"
gregor has local copy of box that needs to go back in google drive

[2017-09-21 14:06] laszewsk opened #619 "create refernces for i523 sections"
go through all sections and add the references to refs.bib and use them.

Have gregor show you how to do it. This taks can be split up as it includes many refernces. I suggest that you coordinate and do it ASAP.

[2017-09-21 14:07] laszewsk commented on #619
check if refrences are still valid and if not either find alternative links or remove

[2017-09-21 14:08] laszewsk opened #620 "tutorial: ipynb: visualization"
matpltlib
seaborn
bokeh

[2017-09-21 14:09] laszewsk opened #621 "tutorial: ipnb: scipy"
stats
		mean
		stdev
		distributions

[2017-09-21 14:09] laszewsk opened #622 "tutorial: ipynb: pandas"
pandas - basics
	combine csv table
	data frame

[2017-09-21 14:11] laszewsk opened #623 "tutorial: ipnb, multiple: scikitlearn"
* [ ] scikit learn - miao
* [ ] kmeans - miao
* [ ]	regression - Juliette
* [ ]	SVM - miao
* [ ]	machine learning
* [ ]	neural network
* [ ]	CNN
* [ ]	decission tree - random forest
* [ ]	em algorithm - extension of kmeans

[2017-09-21 14:12] laszewsk opened #624 "tutorial: ipynb: obencv"
basic use of opencv, in python
could leverage last years course work, make it simeple. I am sure there are good examples out there for it

[2017-09-21 14:13] laszewsk opened #625 "tutorial: ipynb: numpy"
simple numpy

[2017-09-21 14:21] laszewsk commented on #595
fix it by hand yourself

[2017-09-21 14:23] laszewsk commented on #594
reassign this weekly and create a milestone for the week and reassign to the milestone for that week. Let me know if you can create milestones or now

[2017-09-21 14:26] laszewsk commented on #506
we are not doing a docler image right now

[2017-09-21 14:26] #506 closed

[2017-09-21 14:30] laszewsk commented on #470
also take a look at i524 piazza as there is valuable discussion in thers

[2017-09-21 17:52] #595 closed

[2017-09-21 17:59] jzerick commented on #596
There are open source, general purpose alternatives to this tool.

[2017-09-21 18:01] laszewsk commented on #596
can you identify them and add to the section. Saber has written somewhere a rst section or page about this. I think its only free for students ... but I am not sure.

[2017-09-21 18:10] laszewsk opened #627 "iCloud: slides & video times"
* [ ] get all slides for the iCloud Lectures and link them into the RST pages
* [ ] add times to videos

[2017-09-21 18:14] laszewsk opened #628 "iCloud: replacement of harp lectures and assignments"
As I do not do harp, we need to substitue all but an introductory leacture with something else. How many lectures are this

I sugegst to use cmd5 and azure, aws, docker, comet, ...

* [ ] introduction of harp
* [ ] how many lectures need to be replaced
* [ ] develop material for replacement lectures

* [ ] some lecture needs to deal with containers

[2017-09-22 01:38] miaojiang1987 commented on #609
Added.

[2017-09-22 01:38] #609 closed

[2017-09-22 02:08] miaojiang1987 commented on #612
I think this task is pretty done.

[2017-09-22 02:08] #612 closed

[2017-09-25 12:11] laszewsk commented on #607
overdue

[2017-09-25 12:11] laszewsk commented on #596
overdue

[2017-09-25 12:12] laszewsk commented on #594
not assigned to this week
has this been updated

[2017-09-25 12:13] laszewsk opened #632 "assign tasks to miao and silvia"

[2017-09-25 14:06] laszewsk commented on #632
* [ ] example 1
* [ ] example 2

[2017-09-25 14:09] laszewsk opened #633 "learn github"

[2017-09-25 17:21] laszewsk opened #634 "create new index page fro future i524"
create a new index-2018.rst page that includes the content of the i524 class
https://cloudmesh.github.io/classes/i524/2017/lectures.html#lectures-collaboration-track

[2017-09-26 18:05] ssheybani commented on #596
I have copied the student's explanation in here:
https://github.com/cloudmesh/classes/blob/master/docs/source/i523/2017/student-contribution/technologies.rst

[2017-09-27 15:29] laszewsk opened #635 "images in non local folder"
make sure images are in the images folder

https://raw.githubusercontent.com/lee212/classes/master/spring-2017/source/notebooks/files/image03.png

[2017-09-28 17:36] ssheybani commented on #596
I am closing this issue as I have already incorporated the note in the class Github.
@jzerick can reopen it and add the descriptions for alternative tools if she wants. But I assume we might have tasks of higher priority now.

[2017-09-28 17:36] #596 closed

[2017-09-28 17:47] ssheybani commented on #632
I worked with Miao and Silvia yesterday. With Miao, we created the student activity table. I helped Silvia install Ubuntu on her machine and also familiarized her with the class web page, Github and Jabref. But she may still need more practice with them.

[2017-09-28 17:47] #632 closed

[2017-09-28 17:49] ssheybani commented on #590
I think I need more instructions about this, as I don't understand any of it.

[2017-09-28 17:50] ssheybani commented on #591
I think I need more instructions about this, as I don't understand any of it.

[2017-09-28 18:56] ssheybani commented on #607
* [x] 3.1
* [x] 3.2
* [x] 3.3
* [x] 3.4
* [x] 3.5
* [x] 3.6
* [x] 3.7
* [x] 3.8
* [x] 3.9
* [x] 3.10

[2017-09-29 16:23] miaojiang1987 opened #636 "Assign new tasks to Sylvia"
Install ubuntu environment.

[2017-09-29 16:25] miaojiang1987 commented on #636
Please add tasks after we have a discussion.

[2017-09-29 17:30] #607 closed

[2017-09-29 18:57] SilviaKarim14 commented on #636
I have installed ubuntu environment and getting familiar with the command lines.

[2017-09-30 12:56] laszewsk opened #637 "port cloudmesh classes sphinx to windows"
use a docker container to create and compile cloudmesh classes under windows.

this obviously needs to be done on a powerful machine and your laptop may not be suficcient

[2017-10-01 09:57] laszewsk commented on #636
please assign now real tasks to her. INstalling ubuntu or vbox are preparing her for the task. I assigned her two tasks
a) add data time parsing section to python
b) document how to do a pull request for classes
As she now understands where we do tasks, you can assign her tasks to reduce your load and come up with a fair work distribution. If you are out of tasks, I have plenty things to do ... as

[2018-01-08 05:41] #625 closed

[2018-01-08 05:42] laszewsk commented on #633
no longer in group

[2018-01-08 05:42] #633 closed

[2018-01-08 10:51] laszewsk opened #642 "doc: bib issues"
bib/bibliography.bib bib/refs-jabref.bib dest/vonLaszewski-bigdata.bcf

* [ ]   [460]  - Overwriting field 'year' with year value from field 'date' for entry 'scik1'
* [ ]   [506]  - Datamodel: Entry 'amazon-elastic-beanstalk-book' (bib/refs-jabref.bib): Invalid format '2011-8-06' of date field 'date' - ignoring
* [ ]   [511]  - ISBN '978-4919-6573-3' in entry 'www-cloudfoundry-book' is invalid -

[2018-01-08 10:59] laszewsk opened #643 "labels/ref"
* [ ]  Label `E:Linux.4' multiply defined
* [ ]  Label `blogs' multiply defined
* [ ]  Label `data-science-process' multiply defined
* [ ]  Label `edge-detection' multiply defined
* [ ]  Label `gui' multiply defined
* [ ]  Label `image-thresholding' multiply defined
* [ ]  Label `installation' multiply defined
* [ ]  Label `internet-of-things' multiply defined
* [ ]  Label `introduction' multiply